
  <div class="footer">



    <div style="text-align:center">
     <div class="row align-center">
      <a mat-icon-button class="btn-google" href="http://google.com/"><i class="fa fa-google fa-lg"></i></a>
      <a mat-icon-button class="btn-facebook" href="http://www.facebook.com/profile.php?id="><i class="fa fa-facebook fa-lg"></i></a>
      <a mat-icon-button class="btn-linkedin" href="http://www.linkedin.com/in/"><i class="fa fa-linkedin fa-lg"></i></a>
      <a mat-icon-button class="btn-twitter" href="http://twitter.com/"><i class="fa fa-twitter fa-lg"></i></a>
      <a mat-icon-button class="btn-youtube" href="http://youtube.com/"><i class="fa fa-youtube fa-lg"></i></a>
      <a mat-icon-button class="btn-mail" href="mailto:"><i class="fa fa-envelope fa-lg"></i></a>
     </div>

    </div>

<div style="text-align: center;">@Winactor NTT DATA</div>

</div>
